Repository rafipiccolo/dockercron: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, /root/.composer/vendor/bin/twig-cs-fixer lint --fix

up
  .eslintrc
  .lintstagedrc
  index.html
  lib/monitoring.js
  package-lock.json
  package.json
  server.js
  testdockerapi.js
  testqueue.js
Due: eslint --fix, prettier --write

up
  package-lock.json
  package.json
Due: none

up
  .htmlvalidate.json
  lib/execFilePromise.js
  package-lock.json
  package.json
  views/ban.html.twig
Due: eslint --fix, prettier --write, /root/.composer/vendor/bin/twig-cs-fixer lint --fix

up
  .lintstagedrc
  package-lock.json
  package.json
Due: none

up
  .htmlvalidate.json
  package-lock.json
  package.json
Due: none

up
  package-lock.json
  package.json
  try.js
Due: eslint --fix, prettier --write

disable cron
  index.html
  package-lock.json
  package.json
  server.js
Due: eslint --fix, prettier --write

up
  .eslintrc
  Dockerfile
  package-lock.json
  package.json
Due: none

const
  .eslintrc
  lib/dockerExec.js
  lib/dockerapi.js
  lib/execFilePromise.js
  lib/influxdb.js
  lib/monitoring.js
  lib/queue.js
  lib/requestPromise.js
  server.js
  test2.js
  testqueue.js
  testread.js
  try.js
Due: eslint --fix, prettier --write

up & banmiddleware
  package-lock.json
  package.json
  server.js
Due: eslint --fix, prettier --write

up
  lib/monitoring.js
  package-lock.json
  package.json
  server.js
Due: eslint --fix, prettier --write

up
  lib/dockerapi.js
  package-lock.json
  package.json
  test3.js
Due: eslint --fix, prettier --write

up
  README.md
  package-lock.json
  package.json
Due: none

up
  .husky/post-merge
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.js
  /root/.composer/vendor/bin/twig-cs-fixer lint --fix: any of: *.html.twig
